<h1>New User<h1>


<%= form_tag('/users#create') do -%>
	<div><%= text_field_tag 'Username', "Username:" %></div>
	<div><%= password_field_tag 'password', "password" %></div>
	<div><%= text_field_tag 'Email', "Email:" %></div>
	<div><%= submit_tag 'Submit' %></div>

<% end -%>