<h1>New User<h1>


<!--<%= form_tag('/users#create') do -%>
	<div><%= text_field_tag 'Username', "Username:" %></div>
	<div><%= password_field_tag 'password', "password" %></div>
	<div><%= text_field_tag 'Email', "Email:" %></div>
	<div><%= submit_tag 'Submit' %></div>

<% end -%> -->

<!--<form action="/users#create" method="post" accept-charset="UTF-8">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	Username: <input type="text" name="user[username]">
	Email: <input type="text" name="user[email]">
	Password: <input type="password" name="user[password]">
	<input type="submit" value="Submit">
	
</form> -->